<!--
    A form modal with custom search picklist
-->
<template>
    <div>
       
                    <div class="input-group">
                        <lightning-combobox name="BeneficiaryClassification" label="Select a type of beneficiary" placeholder="Select Beneficiary"
                                            value={beneficiaryObj.BeneficiaryClassification} options={beneficiaryOptions}
                                            onchange={handleInputChange} required disabled={beneficiaryId} >
                        </lightning-combobox>
 
                    </div>
                    <div class="input-group">
                    <template if:false={showPersonData}>
                        <template if:false={showOrganisationData}>

                            <label class="form-element-label" for="beneficiaryStatus">Beneficiary Status</label>
                            <div class="m-b output">
                                {beneficiaryObj.beneficiaryStatus}      
                            </div>
                        </template>
                    </template>
                </div>

                    <!-- If Beneficiary is a Person - Start -->
                    <template if:true={showPersonData}>
                        <div class="row p-b">
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input type="text" name="personFirstName" label="First Name"
                                                     value={beneficiaryObj.personFirstName}
                                                     disabled={isSubmitted}
                                                     onchange={handleInputChange} required={isRequired}>
                                    </lightning-input>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input type="text" name="personMidleName" label="Middle Name"
                                                     value={beneficiaryObj.personMidleName}
                                                     disabled={isSubmitted}
                                                     onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <lightning-input type="text" name="personLastName" label="Last Name"
                                                     value={beneficiaryObj.personLastName}
                                                     disabled={isSubmitted}
                                                     onchange={handleInputChange} required={isRequired}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input type="date" name="persondateOfBirth" max={maxDate} placeholder="MM/DD/YYYY" 
                                                     value={beneficiaryObj.persondateOfBirth} label="Date of Birth"
                                                     message-when-pattern-mismatch="Please select a valid date from date-picker"
                                                     message-when-range-overflow="This date cannot be a future date"
                                                     disabled={isSubmitted}
                                                     onchange={handleInputChange} required={isRequired}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <!-- Child Component for Relationship Picklist Search -->
                                    <template if:false= {isSubmitted}>
                                        <c-gic-search-picklist hide-modal-overlay="true"
                                            field-value={beneficiaryObj.personRelationship} onselectedrec={selectPicklist}
                                            field-name="personRelationship" fieldlabel="Relationship"
                                            isrequired={isRequired} object-name="Beneficiary__c"
                                            searchfield="Relationship__c"
                                            search-input={beneficiaryObj.personRelationship}>
                                        </c-gic-search-picklist>
                                    </template>
                                    <template if:true={isSubmitted}>
                                        <lightning-input type="text" disabled label="Relationship" value={beneficiaryObj.personRelationship}></lightning-input>
                                    </template>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input type="text" name="personSocialSecurity"  max-length="11" min-length="11"  
                                                     value={beneficiaryObj.personSocialSecurity} label="Social Security Number"
                                                     disabled={isSubmitted}
                                                     onchange={handleInputChange} onkeyup={handleOnBlurForSSN}  message-when-pattern-mismatch="SSN should be in format xxx-xx-xxxx" 
                                                     pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}" >
                                    </lightning-input>
                                </div>
                            </div>
                        </div>

                        <div class="section-header m-b">
                            <h2 class="section-title">Address Information</h2>
                        </div>

                        <div class="input-group ">
                            <lightning-input class='checkboxClass' data-id="checkbox"
                                             type="checkbox"  onchange={changeHandler}
                                             label="Same as the member's address"
                                             disabled={isSubmitted}
                                             name="isSameAsMember" ></lightning-input>
                            <div class="slds-form-element__label slds-m-left_large">
                                Checking this option will copy the same address that the member has on file.
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input disabled={isDisabled} type="text" required name="streetAddress" label="Street Address 1"
                                                     value={beneficiaryObj.streetAddress}
                                                     onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input  disabled={isDisabled} type="text"  name="streetAddress2" label="Street Address 2"
                                                     value={beneficiaryObj.streetAddress2}
                                                     onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input  disabled={isDisabled} type="text" name="streetAddress3" label="Street Address 3"
                                                     value={beneficiaryObj.streetAddress3}
                                                     onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input  disabled={isDisabled} type="text" required name="city" label="City"
                                                     value={beneficiaryObj.city}
                                                     onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input  disabled={isDisabled} type="text" required name="state" label="State"
                                                     value={beneficiaryObj.state}
                                                     onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div> 
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input  disabled={isDisabled} type="text" required name="zipCode" label="ZIP Code"
                                                     value={beneficiaryObj.zipCode}
                                                     onchange={handleInputChange}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <lightning-input type="text" name="phone"
                                                     onchange={handleInputChange}
                                                     onkeyup={handleOnBlur} 
                                                     max-length="12"
                                                     disabled={isSubmitted}
                                                     label="Phone"
                                                     pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                                     message-when-pattern-mismatch="Invalid Phone format should be xxx-xxx-xxxx"
                                                     value={beneficiaryObj.phone}
                                    >
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </template>
                    <!-- If Beneficiary is a Person - End -->

                
       
    </div>
</template>