.input-hidden {
    display: none;
 }
 
 .disabledTxt {
   background: rgb(245 245 245) !important;
   border-color: rgb(213 213 213) !important;
 }

 .required {
    font-size: 1rem;
    color: #ea172b;
    margin-top: .125rem;
    display: block;
    font-weight: 400;
 }
  
 .error {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(194, 57, 52) !important;
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset !important;
    background-clip: padding-box !important;
 }
  
 .objectIconClass {
    margin-right: 0.5rem !important;
 }
  
 .visitor-name-div,
 .slds-text-color_error {
    font-size: 1rem !important;
 }
  
 .input-selected {
    color: black;
    font-size: 1rem;
    color: #000000;
    border-radius: 0;
    padding : 4px;
 }
  
 .salesforce_height {
    height: 2rem !important;
    min-height: 2rem !important;
    color: inherit !important;
    font-size: inherit !important;
    border-radius: 0.25rem !important;
 }
  
 .disabled {
    background-color: rgb(236, 235, 234);
    border-color: rgb(201, 199, 197);
    cursor: not-allowed;
 }
  
 .not_disabled {
    background-color: white !important;
 }