<!--
 -->
 <template>
    <div class="slds-form-element">
        <label class="slds-form-element__label" for="typeahead-input"><abbr class="slds-required" if:true={isrequired}
                title="required">*</abbr>{fieldlabel} </label>
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="true"
                    aria-haspopup="listbox" role="combobox">
                   
                    <div class={inputClass} role="none" onclick={handleInputClicked}>
                        <input type="text" class={sobjectClass} id="typeahead-input" onfocus={inputFocus} onkeyup={inputKeyUp}
                            aria-autocomplete="list" aria-controls="typeahead_dropdown" autocomplete="off"
                            role="textbox" placeholder={inputPlaceholder} disabled={disabled} />
                        <span
                            class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                            <lightning-icon icon-name="utility:search" size="x-small"></lightning-icon>
                        </span>
                    </div>
                    <div if:true={fieldValue} class={divClass}>
                        <div class="slds-media__body">
                            <div class="visitor-name-div">
                                <!--<lightning-icon icon-name={iconname} size="small" class="objectIconClass">
                                </lightning-icon>-->
                                {fieldValue}
                            </div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse">
                            <lightning-button-icon size="x-small" icon-name="utility:close" onclick={deselectRecord}
                                alternative-text="Close window" disabled={disabled}></lightning-button-icon>
                        </div>
                    </div>
  
                    <!-- <template if:false={disabled}> -->
                    <div if:true={showError}>
                        <span class="slds-required required">Complete this field.</span>
                    </div>
  
                    <div id="typeahead_dropdown" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid"
                        role="listbox" onclick={comboboxDropdownClicked} tabindex="0">
                        <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                            <template for:each={recordList} for:item="rec">
                                <li key={rec} data-name={rec} role="presentation"
                                    class="slds-listbox__item" onclick={selectRecord}>
                                    <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_center"
                                        style="width: 100%;">
                                        <div class="slds-media__body">
                                            <div class="visitor-name-div">
                                                <!--<lightning-icon icon-name={iconname} size="small"
                                                    class="objectIconClass"></lightning-icon>-->
                                                {rec}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </template>
                            <li if:true={isListEmpty}>
                                <div
                                    class="slds-media slds-listbox__option slds-listbox__option_plain slds-text-color_error slds-media_small">
                                    No matching records found
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- </template> -->
                </div>
            </div>
        </div>
    </div>
 </template>